@using WebProjectOnAzure.Models
@model IEnumerable<WebProjectOnAzure.Models.ITShop>

@{
    ViewData["Title"] = "ShopIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Pager pager = new Pager();
    int PageNo = 0;
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        PageNo = pager.CurrentPage;
    }
}



  <head>
      
<link rel="stylesheet" href="~/css/style.css" />
</head>

<p>
    <a asp-action="ProductCreate" asp-controller="Shop">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ITProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ITProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ITProductPhoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITProductPrice)
            </td>
            <td>    
                @if (item.ITProductPhoto != null)
               {
           <img class="img-responsive" src="@Url.Content(item.ITProductPhoto)" alt=""> 
                }
                
            </td>
            
            <td>
                @Html.ActionLink("Edit", "ProductEdit", new {  id=item.Id }) |
                @Html.ActionLink("Details", "ProductDetails", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
               @if (pager.TotalPages > 0)
{
    <ul class="pagination">
        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
        {
            <li class="pagination_li pageNumber page-item @(pge == pager.CurrentPage ? "active" : "")">
                <a class="pagination_a" asp-controller = "Shop" asp-action="ShopIndex" asp-route-pg="@pge">@pge</a>
            </li>
        }
    </ul>
} 
    </tbody>
</table>


<script src="~/js/pagination.js"></script>
   
    
