@model WebProjectOnAzure.ViewForModel.ShopViewModels.FilterViewModel
<style>
    .filter-widget {
        margin-bottom: 45px;
    }
    .filter-widget .filter-range-wrap{
        margin-bottom: 40px;
    }
    .filter-widget .filter-range-wrap .range-slider{
        margin-bottom: 25px;
    }
    .filter-widget .filter-range-wrap .range-slider .price-input{
        position:relative;
    }
    .filter-widget .filter-range-wrap .range-slider .price-input:after{
        position:absolute;
        left:112px;
        top:13px;
        height:1px;
        width:17px;
        background: #ebebeb;
        content: "";
    }
    .filter-widget .filter-range-wrap .range-slider .price-input input{
        font-size:16px;
        color:#252525;
        max-width: 30%;
        text-align:center;
        border:1px solid #ebebeb;
        border-radius: 2px;
    }
    .filter-widget .filter-range-wrap .range-slider .price-input input:nth-child(1){
        margin-right: 20px;
    }
    .filter-widget .filter-range-wrap .price-range{
        border-radius:0;
    }
    .filter-widget .filter-range-wrap .price-range .ui-widget-content{
        border:none;
        background: #ebebeb;
        height:3px;
    }
    .filter-widget .filter-range-wrap .price-range .ui-widget-content .ui-slider-handle{
        height:16px;
        width:16px;
        border-radius:50%;
        background: #ffffff;
        border:none;
        -webkit-box-shadow: 1px 6px 14px -4px #425c3d;
        box-shadow: 1px 6px 14px -4px #425c3d;
        outline:none;
    }
    .filter-widget .filter-range-wrap .price-range .ui-slider-range{
        background: #ebebeb;
        border-radius: 0;
    }
    .filter-widget .filter-range-wrap .price-range .ui-slider-range.ui-corner-all.ui-widget-header:last-child{
        background:#3c7be7;
    }
</style>
 <div class="col-md-4">   
        <div class="full" style="margin-top: 35px;">
     <div class="filter-widget">
                    <p class="text-black-50 font-weight-bold text-start">Price</p>
                    <div class="filter-range-wrap">
                        <div class="range-slider">
                            <div class="price-input">
                                <input type="text" id="minamount" >
                                <input type="text" id="maxamount" >
                            </div>
                        </div>
                        <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget-content" data-min="0" data-max="@Model.MaximumPrice">
                            <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span> 
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span> 
                        </div>
                    </div>
                    <form id="priceRangeForm" method="post" action="">
                        <input type="hidden" name="minimumPrice" value="@Model.MinPrice" disabled=disabled />
                        <input type="hidden" name="maximumPrice" value="@Model.MaximumPrice" disabled=disabled/>
                        <button type="submit" class="btn btn-primary">Filter</button>
                        <a class="btn btn-danger" href="@Url.Action("ProductByBrand,Product",new {shopstyle= Model.ShopStyle})">Reset Filter</a>
                    </form>
                </div>
                </div>
                </div>
  <div class="row">
        @foreach(var item in Model.Products){
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
          <div class="product_img"> <img class="img-responsive" src="@item.ProductImage" alt=""> </div>
          <div class="product_detail_btm">
            <div class="center">
              <h4><a href="/Product/ProductDetail/@item.ProductID">@item.ProductBrand @item.ProductModel</a></h4>
            </div>
            <div class="starratin">
              <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
            </div>
            <div class="product_price">
              <p> <span class="new_price">@item.Price$</span></p>
            </div>

          </div>
          
           <button type="button" class="btn sqaure_bt">@Html.ActionLink("Add to cart", "Buy", 
        "ShoppingCart", new { id = item.ProductID }, "")</button>
        
        </div>
        
      </div>
  

      }
      </div>

      <script>
var callTimeout;
var priceSlider = $("#slide-range").slider({
    range:true,
    min:0,
    max:@Model.MaximumPrice,
    values:[@Model.MinPrice, @Model.MaximumPrice],
    slide: function(event, ui) {
        var minPrice = ui.values[0];
        var maxPrice = ui.values[1];
        console.log("changed")

        $("#amount").val("$" + minPrice + ".00" + " - " + maxPrice + ".00");

        clearTimeout(callTimeout);
        callTimeout = setTimeout(PriceRangeChange, 500);
    }
})
        </script>


      <script>
var rangeSlider = $(".price-range"),
    minamount = $("#minamount"),
    maxamount = $("#maxamount");
$(document).ready(function () {
    rangeSlider.slider({
        range: true,
        min: 0,
        max: @Model.InitialMaximumPrice,

        values: [@Model.MinPrice, @Model.MaximumPrice],
        slide: function(event, ui) {
            var minVal = ui.values[0];
            minamount.val(minVal + '$');
            if (minVal > 0) {
                $("[name=minimumPrice]").val(minVal);
                $("[name=minimumPrice]").removeAttr("disabled");
            }
            else {
                $("[name=minimumPrice]").val("");
                $("[name=minimumPrice]").attr("disabled", "disabled");
            }
            var maxVal = ui.values[1];
            maxamount.val(maxVal + '$');

            if (maxVal < @Model.MaximumPrice) {
                $("[name=maximumPrice]").val(maxVal);
                $("[name=maximumPrice]").removeAttr("disabled");
            }
            else {
                $("[name=maximumPrice]").val("");
                $("[name=maximumPrice]").attr("disabled", "disabled");
            }
        }
    });
    minamount.val(rangeSlider.slider("values", 0) + '$');
    maxamount.val(rangeSlider.slider("values", 1) + '$');
});

$("#priceRangeForm").submit(function(e) {
    Sendi();
    e.preventDefault();
});

function Sendi() {
    $.ajax({
        type: "post",
        url: '@Url.Action("FilterForProduct","Product")',
        data: {
            minimumPrice: $("[name=minimumPrice]").val(),
                maximumPrice: $("[name=maximumPrice]").val(),
            shopstyle: '@Model.ShopStyle',
            searchTerm: $("#searchTerm").val()
        }
    }).done(function(response) {
        $("#productsDiv").html(response);
        window.location.href = "#productsDiv"

    })
}
      </script>

       @* <script>
    $("#actionButton").click(function() {
        $.ajax({
        url: '@Url.Action("FilterForProduct","Product")',
        type: 'post',
        data: {
            shopstyle: '@Model.ShopStyle',
            searchTerm: $("#searchTerm").val()
        }
        })
        .done(function(response) {
            $("#productsDiv").html(response);
        });
});
      </script>*@

        
 
