@model ShopViewModels.ShopModel
@using WebProjectOnAzure.ViewForModel
@using WebProjectOnAzure.Data

@{
    Pager pager = new Pager();
    List<Product> data = new List<Product>();
    int PageNo = 0;
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        PageNo = pager.CurrentPage;
        data = ViewBag.Data;

    }
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/search.css" />
</head>
<body id="default_theme" class="it_service">
    
    
    
   

<!-- loader -->
<div class="bg_load"> <img class="loader_animation" src="~/images/loaders/loader_1.png" alt="#" /> </div>
<!-- end loader -->
<!-- header -->
<header id="default_header" class="header_style_1">
  <!-- header top -->
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="full">
            <div class="topbar-left">
              <ul class="list-inline">
                <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">540 Lorem Ipsum New York, AB 90218</span> </li>
                <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="mailto:info@yourdomain.com">info@yourdomain.com</a></span> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 right_section_header_top">
          <div class="float-left">
            <div class="social_icon">
              <ul class="list-inline">
                <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
              </ul>
            </div>
          </div>
          <div class="float-right">
            <div class="make_appo"> <a class="btn white_btn" href="make_appointment.html">Make Appointment</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end header top -->
  <!-- header bottom -->
  <div class="header_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <!-- logo start -->
          <div class="logo"> <a href="it_home.html"><img src="~/images/logos/it_logo.png" alt="logo" /></a> </div>
          <!-- logo end -->
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <!-- menu start -->
          <div class="menu_side">
            <div id="navbar_menu">
              <ul class="first-ul">
                  <li> <a asp-action="ShopIndex" asp-controller="Shop">IndexShop</a>
                <li> <a asp-action="Home" asp-controller="Home">Home</a>
                  <ul>
                    <li> <a asp-action="Home" asp-controller="Home">Home</a>
                     
                  </ul>
                </li>
                 <li><a asp-action="Chat" asp-controller="Home">Chat</a></li>
               <li> <a asp-action="About" asp-controller="Home">About us</a>
                <li> <a asp-action="Service" asp-controller="Home">Service</a>
                  <ul>
                    <li> <a asp-action="ServiceList" asp-controller="Home">Service List</a>
                    <li> <a asp-action="ServiceDetail" asp-controller="Home">Service Details</a>
                  </ul>
                </li>
                <li> <a asp-action="Blog" asp-controller="Home">Blog</a>
                  <ul>
                    <li> <a asp-action="Blog" asp-controller="Home">Blog List</a>
                    <li> <a asp-action="BlogGrid" asp-controller="Home">Blog Grid</a>
                    <li> <a asp-action="BlogDetail" asp-controller="Home">Blog Detail</a>
                  </ul>
                </li>
                <li> <a href="#">Pages</a>
                  <ul>
                     <li> <a asp-action="Career" asp-controller="Home">Career</a>
                         <li> <a asp-action="Shop" asp-controller="Shop">Shop</a>
                    <li> <a asp-action="Price" asp-controller="Home">Price</a>
                     <li> <a asp-action="FAQ" asp-controller="Home">FAQ</a>
                   <li> <a asp-action="Privacy" asp-controller="Home">Privacy Policy</a>
                    <li> <a asp-action="Error" asp-controller="Home">404</a>
                  </ul>
                </li>
                <li> <a asp-action="Shop" asp-controller="Home">Shop</a>
                  <ul>
                    <li><a href="it_shop.html">Shop List</a></li>
                    <li> <a asp-action="ShopDetail" asp-controller="Home">Shop Details</a>
                    <li> <a asp-action="ShopDetail" asp-controller="Shop">Shop Details</a>
                    <li><a href="it_checkout.html">Checkout</a></li>
                  </ul>
                </li>
                <li> <a href="it_contact.html">Contact</a>
                  <ul>
                    <li><a href="it_contact.html">Contact Page 1</a></li>
                    <li><a href="it_contact_2.html">Contact Page 2</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="search_icon">
              <ul>
                <li><a href="#" data-toggle="modal" data-target="#search_bar"><i class="fa fa-search" aria-hidden="true"></i></a></li>
              </ul>
            </div>
            <partial name="_LoginPartial"/>
          </div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
  
</body>
  <!-- header bottom end -->
</header>
<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>Our Products</h2>
            <p class="large">We package the products with best services to make you a happy customer.</p>
          </div>
        </div>
      </div>
    </div>
    
    
       
    <div class="col-md-4">   
        <div class="full" style="margin-top: 35px;">
            <h4 class="my-4 text-danger text-center">Add Filter</h4>
            <div class="list-group">
                <form role="search" method="get" class="form-inline list-group-item border-0" action="@Url.Action("ProductByBrand","Product",new{shopstyle = Model.ShopStyle})">
                    <label class="pb-1 mb-1">
                        <input type="search" class="form-control mr-sm-2" placeholder="Search.." value="@Model.SearchTerm" name="searchTerm"/>
                    </label>
                     <input type="submit" class="btn btn-outline-success form-control-sm my-2 my-sm-0" value="Search" id="actionButton" />
                </form>
                <div class="container-fluid list-group-item border-0">
                    <p class="text-black-50 fw-bold text-start">Featured Categories</p>
                    <div id="categoryArea" >
                            @foreach(var category in Model.Categories)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="@category.CategoryID" id="item_@category.CategoryID" @(Model.CategoryCheckIds.Contains(category.CategoryID)? "checked" : "") onclick="SaveItems()">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        @category.CategoryName
                                    </label>                             
                            
                        </div>
                        }
                </div>
                
            </div>
           

      </div>

      
        
        
       
            </div>
        </div>
      
     
</div>     
  <div id="productsDiv">
        @{
            var filterviewmodel = new WebProjectOnAzure.ViewForModel.ShopViewModels.FilterViewModel();
            filterviewmodel.CategoryID = Model.CategoryID;
            filterviewmodel.Products = Model.Products;
            filterviewmodel.SortBy = Model.SortBy;
            filterviewmodel.ShopStyle = Model.ShopStyle;
            filterviewmodel.SearchTerm = Model.SearchTerm;
            filterviewmodel.CategoryCheckIds = Model.CategoryCheckIds;
            filterviewmodel.MaximumPrice = Model.MaximumPrice;
            filterviewmodel.MinPrice = Model.MinPrice;
            filterviewmodel.InitialMaximumPrice = Model.InitialMaximumPrice;
            await Html.RenderPartialAsync("FilterForProduct", filterviewmodel);

}
            </div>
             
   
      </div> 
      

      <script src="~/js/pagination.js"></script>
     
      <script>         
var SaveItems = function() {
    var ItemIdArray = [];
    var ItemsIdsCommaSeparated = "";
    $("#categoryArea input[type=checkbox]").each(function(index, val) {
        var Id = $(val).attr("id");
        var ischecked = $("#" + Id).is(":checked", true);
        if (ischecked) {
            var array = Id.split("_");
            var ItemId = array[1];
            ItemIdArray.push(ItemId);
        }
        ItemsIdsCommaSeparated = ItemIdArray.toString();


    })
    if (ItemIdArray.length != 0) {
        $.ajax({
            type: 'post',
            url: '@Url.Action("FilterForProduct", "Product")',
            data: {
                ItemIds: ItemsIdsCommaSeparated,
                shopstyle: '@Model.ShopStyle',
                sortBy: '@Model.SortBy'
            }

        })
            .done(function(response) {
                console.log("done");
                $("#productsDiv").html(response);
            })
            .fail(function(XMLHttpRequest, textStatus, errorThrown) {
                console.log("fail");
                alert("FAIL");
            })
            .always(function() {
                console.log("always");

            });
        console.log("getdata out");
    }
}

      </script>
     
      
       